@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes fadeAndPullUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blurAnimation {
  0% {
    filter: blur(10px);
  }
  100% {
    filter: blur(0);
  }
}

.fade-pullup {
  animation: fadeAndPullUp 0.3s ease-out forwards,
    blurAnimation 0.3s ease-out forwards;
  opacity: 0;
}

.fade-pullup-delayed-1 {
  animation: fadeAndPullUp 0.3s ease-out forwards 0.2s,
    blurAnimation 0.3s ease-out forwards 0.2s;
  opacity: 0;
}

.fade-pullup-delayed-2 {
  animation: fadeAndPullUp 0.3s ease-out forwards 0.4s,
    blurAnimation 0.3s ease-out forwards 0.4s;
  opacity: 0;
}
